@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Vollkorn", serif;
    background-color: #f7f7f7;
}

.outline {
    border: 3px solid rgb(126, 125, 125) !important;
}

.card-body {
    padding: 10px 20px !important;
}

.card-header {
    padding: 10px 30px !important;
}